<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/static/css/sidebar.css}">
<!--    <link rel="stylesheet" th:href="@{/static/css/index_work.css}">-->
    <title>Title</title>
</head>
<body>
<!--<input type="checkbox" id="check">-->
<!--<label for="check">-->
<!--    <i class="fa fa-bars" aria-hidden="true" id="show"></i>-->
<!--    <i class="fa fa-times" aria-hidden="true" id="cancel"></i>-->
<!--</label>-->

</body>
</html>